<div class="flex items-center justify-center w-100 h-100" id="card-container">
  <p-card
    [style]="{ overflow: 'hidden' }"
    [style.width]="extraData ? '300px' : '300px'"
    [class]="extraData ? '' : 'pokemon-card-hover'"
    class="pokemon-card"
  >
    <ng-template #header>
      <div class="d-flex justify-content-center align-items-center">
        <img loading="lazy" alt="Card" class="pokemon-img" [src]="imageUrl" />
      </div>
    </ng-template>
    <ng-template #title
      ><div class="d-flex justify-content-center">
        <span class="text-uppercase">#{{ id }}</span>
      </div></ng-template
    >
    <ng-template #subtitle>
      <div class="d-flex justify-content-center">
        <span class="text-uppercase">{{ name }}</span>
      </div></ng-template
    >
    <ng-template #content *ngIf="extraData">
      <div class="flex flex-column align-items-start text-start gap-3 mt-5">
        <span><strong>Tipo de personaje:</strong> {{ extraData.type }}</span>
        <span><strong>Peso:</strong> {{ extraData.weight + " kg" }}</span>
        <div>
          <span><strong>Movimientos:</strong></span>
          <div
            class="d-flex flex-column align-items-center justify-content-center gap-2"
          >
            <ul *ngIf="extraData.moves?.length">
              <li
                *ngFor="
                  let move of expandMoves
                    ? extraData.moves
                    : extraData.moves.slice(0, 10)
                "
                class="text-start"
              >
                {{ move.move.name }}
              </li>
            </ul>
            <button
              *ngIf="extraData.moves.length > 10"
              class="mt-2 btn btn-link p-0"
              (click)="expandMoves = !expandMoves"
            >
              {{ expandMoves ? "Mostrar menos" : "Mostrar todos" }}
            </button>
          </div>
        </div>
        <div
          *ngIf="extraData?.sprites"
          class="flex flex-row align-items-center justify-content-center custom-sprites gap-2"
        >
          <span><strong>Sprites:</strong></span>
          <div
            class="d-flex flex-row align-items-center justify-content-center gap-2 images-container"
          >
            <img
              loading="lazy"
              [src]="extraData.sprites.front_default"
              alt=""
            />
            <img loading="lazy" [src]="extraData.sprites.back_default" alt="" />
            <img loading="lazy" [src]="extraData.sprites.back_shiny" alt="" />
            <img loading="lazy" [src]="extraData.sprites.front_shiny" alt="" />
          </div>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
