<div class="flex items-center justify-center w-100 h-100" id="card-container">
  <p-card
    [style]="{ overflow: 'hidden' }"
    [style.width]="extraData ? '100%' : '300px'"
    [class]="extraData ? '' : 'pokemon-card-hover'"
    class="pokemon-card"
  >
    <ng-template #header>
      <div class="d-flex justify-content-center align-items-center">
        <img alt="Card" class="pokemon-img" [src]="imageUrl" />
      </div>
    </ng-template>
    <ng-template #title
      ><div class="d-flex justify-content-center">
        <span class="text-uppercase">#{{ id }}</span>
      </div></ng-template
    >
    <ng-template #subtitle>
      <div class="d-flex justify-content-center">
        <span class="text-uppercase">{{ name }}</span>
      </div></ng-template
    >
    <ng-template #content *ngIf="extraData">
      <div class="flex flex-column align-items-start text-start gap-3 mt-5">
        <span><strong>Tipo de personaje:</strong> {{ extraData.type }}</span>
        <span><strong>Peso:</strong> {{ extraData.weight + " kg" }}</span>
        <div
          *ngIf="extraData?.sprites"
          class="flex flex-row align-items-center justify-content-center custom-sprites gap-2"
        >
          <span><strong>Sprites:</strong></span>
          <img [src]="extraData.sprites.front_default" alt="" />
          <img [src]="extraData.sprites.back_default" alt="" />
          <img [src]="extraData.sprites.back_shiny" alt="" />
          <img [src]="extraData.sprites.front_shiny" alt="" />
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
