<div class="home-page">
  <div class="row">
    <div [class]="pokemonSelected ? 'col-8' : 'col-12'">
      <p-card header="Simple Card" class="bg-blue-100">
        <div class="d-flex gap-2 align-items-center">
          <input type="text" pInputText [(ngModel)]="inputCharacter" [style.width]="'100%'" />
          <p-button label="Buscar" icon="pi pi-search" iconPos="right" (click)="handleSearchCharacter()" />
        </div>
        <div class="d-flex flex-wrap gap-3 justify-content-center align-items-center mt-5">
          <div *ngFor="let pokemon of pokemonsList" (click)="handleSelectPokemon(pokemon)">
            <app-pokemon-card [id]="pokemon.id" [name]="pokemon.name" [imageUrl]="pokemon.imageUrl"></app-pokemon-card>
          </div>

        </div>
      </p-card>
      <div class="card flex justify-center">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="0" [rows]="10" [totalRecords]="totalPokemons" [rowsPerPageOptions]="[10, 20, 30]" />
    </div>
    </div>
    <div class="col-4" *ngIf="pokemonSelected">
      <p-card header="Simple Card">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <app-pokemon-card [id]="pokemonSelected.id" [name]="pokemonSelected.name"
            [imageUrl]="pokemonSelected.imageUrl" [extraData]="pokemonSelected.extraData"></app-pokemon-card>
        </div>
      </p-card>
    </div>
  </div>
</div>
